<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <!-- th:each="job : ${jobs}" used to iterate over job collection -->
  <table class="job-listing" th:each = "job : ${jobs}">
    <tr>
      <td class="text-uppercase" >  </td>
      <td th:text = "${job.getId()}"> A table value will go here </td>
    </tr>
    <tr>
      <td class="text-uppercase">Name</td>
      <td th:text = "${job.getName()}"> Next value here </td>
    </tr>
    <tr>
      <td class="text-uppercase">Employer</td>
      <td th:text = "${job.getEmployer()}"> Next </td>
      <td >
        <a th:href="@{/list/jobs(column=employer,value=${job.getEmployer()})}"
           th:text = "${job.getEmployer()}"></a>
      </td>
    </tr>
    <tr>
      <td class="text-uppercase">Location</td>
      <td th:text = "${job.getLocation()}"> Next </td>
      <td >
        <a th:href="@{/list/jobs(column=location,value=${job.getLocation()})}"
           th:text = "${job.getLocation()}"></a>
      </td>
    </tr>
    <tr>
      <td class="text-uppercase"> Position Type </td>
      <td th:text = "${job.getPositionType()}"> Next </td>
      <td >
        <a th:href="@{/list/jobs(column=positionType,value=${job.getPositionType()})}"
           th:text = "${job.getPositionType()}"></a>
      </td>
    </tr>
    <tr>
      <td class="text-uppercase"> Skill </td>
      <td th:text = "${job.getCoreCompetency()}"> Next </td>
      <td >
        <a th:href="@{/list/jobs(column=coreCompetency,value=${job.getCoreCompetency()})}"
           th:text = "${job.getCoreCompetency()}"></a></td>
    </tr>
  </table>
</div>

</body>
</html>